<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <div id="links">
    <a href="/account/login">My Account</a>
    <a href="/inv/management">Management</a>
    <a href="/errors/error">Generate Error</a>
    </div>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
</footer>