<h1>Welcome to CSE Motors</h1>

<section class="one">
    <div class="oneLeft">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice</li>
        </ul>

        <button>Own Today</button>
    </div>
    <div class="oneRight">
        <img src="/images/vehicles/delorean.jpg" alt="">
    </div>
</section>

<div class="box"></div>


<section class="two">
    <div class="twoLeft">
        <h2>Delorean Upgrades</h2>
        <div class="upgraded">
            <div class="upgrade">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                <p>Bumper Sticker</p>    
            </div>
            <div class="upgrade">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub">
                <p>Hub Caps</p>
            </div>
            <div class="upgrade">
                <img src="/images/upgrades/flux-cap.png" alt="Flux">
                <p>Flux Capacitor</p>
            </div>
            <div class="upgrade">
                <img src="/images/upgrades/flame.jpg" alt="Flame">
                <p>Flame Decals</p>
            </div>
        </div>
    </div>

    <div class="twoRight">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</section>