<%# Heading Content %>
<h1><%= title %></h1>

<%# Flash Message %>
<%- messages() %>

<div class="userInfo">
<button type="button"><a href="./add-classification">Add New Classification</a></button>
<button type=button><a href="./add-inventory">Add New Inventory</a></button>
</div>