<%# Heading Content %>
<h1><%= title %></h1>

<%# Flash Message %>
<%- messages() %>

<div class="userInfo">
<button type="button"><a href="./add-classification">Add New Classification</a></button>
<button type=button><a href="./add-inventory">Add New Inventory</a></button>
</div>

<div>
    <h2>Manage Inventory</h2>
    <p>Please select a classification from the list below to view the items that belong to that category. Each classification groups similar items to help you easily find what you're looking for. Simply click on your desired classification to see the full list of items available within it.</p>
    <label for="classification">Classification:</label>
    <select id="classification">
       <% for(var i=0; i<classification.rowCount; i++) {%>
       <option value="<%= classification.rows[i].classification_id %>">
         <%= classification.rows[i].classification_name %>
       </option>
       <% } %>
    </select>
 </div>
  
 <table id="inventoryDisplay"></table>
 <noscript>JavaScript must be enabled to use this page.</
 noscript>
  
 <script src="../../js/inventory.js"></script>