<h1>404 Error</h1>
<h3>Oops! This page ran out of gas. Let us refuel and find something else!</h3>
<button type="button">Homeward Bound... With a Full Tank!</button>
<img src="../public/images/classic-car.jpg" alt="Classic Car">
